.column-1, .column-2 { float: left;  padding: 10px; }
.column-2-widgets {margin-top: 20px; height: 195px; max-height: 195px; overflow: auto; }
.column-2-widgets .sidebar { min-height: 100px; }
.column-1 { width: 47%; height: 300px; max-height: 300px; padding-left: 0px; border-right: 2px dashed #CCC; overflow: auto; } 
.column-2 { width: 48%; padding-right: 0px; }
.column-2 .widgets-sortables { min-height: 0; background-color: transparent !important;}
.column-3 .widget-top { cursor: pointer; }
.column-3 .widget .active { color: #21759B;}
#sidebar_admin .sidebar { padding-right: 10px;}
#sidebar_admin .inside .widget { margin-left: 0px !important; width: 100%; }
#sidebar_admin .placeholder { border: 1px dashed #ddd; background-color: #efefef; height: 30px; margin-bottom: 12px; }